{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Section: Contact -->
<section class="page fade-in">
    <!-- Corps -->
    <div class="corps2 px-6 py1 ">
        <div class="item1 grid-cols-1">
            <!-- Text -->
            <h2 class="font-bold mb-1">Entrer en contact</h2>
            <p class="text-gray-500">Notre équipe est disponible 24h/24 et 7j/7 pour vous accompagner tout au long de votre voyage.</p> 
            <div>
                <h4 class="font-bold mb-1">Notre Siège</h4>
                <p class="text-gray-500">Rue Pasteur,Rond-point 1 du 3ème pont<br> Sotuba, Bamako.</p>
            </div>
            <div>
                <div>
                    <h4 class="font-bold mb-1">Service client</h4>
                    <p class="text-gray-500">+223 72 33 59 29 (Support 24/7)</p>
                </div>
            </div>
            <!-- Maps -->
            <div class="carte-conteneur">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d666.2543024971076!2d-7.93917041443714!3d12.652993271722057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sml!4v1783374396379!5m2!1sfr!2sml" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
              </div>
        </div>

        <div class="item2 bg-color grid-cols-1">
            <div class="">
                <label class="text-xs font-bold uppercase text-gray-500">Nom complet</label>
                <input type="text" class="w-full px-4 py-3 bg-white border border-gray-200 rounded outline-none focus:border-brand-green">
            </div>
            <div class="">
                <label class="text-xs font-bold uppercase text-gray-500">Email</label>
                <input type="email" class="w-full px-4 py-3 bg-white border border-gray-200 rounded outline-none focus:border-brand-green">
            </div>
            <div class="width-100">
                <label class="text-xs font-bold uppercase text-gray-500">Sujet</label>
                <select class="w-full px-4 py-3 bg-white border border-gray-200 rounded outline-none focus:border-brand-green">
                    <option>Renseignements généraux</option>
                    <option>Partenariat d'entreprise</option>
                    <option>Assistance routière</option>
                    <option>Autre</option>
                </select>
            </div>
            <div class="width-100">
                <label class="text-xs font-bold uppercase text-gray-500">Message</label>
                <textarea rows="4" class="w-full px-4 py-3 bg-white border border-gray-200 rounded outline-none focus:border-brand-green"></textarea>
            </div>
            <button type="submit" class="btn btn-custom">Envoyer</button>
        </div>
    </div>
</section>
        

{% endblock %}