{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Section: Home -->
<section class="padding-top">
    <div class="relative h-[85vh] flex items-center justify-center overflow-hidden">
        <img src="{% static 'img/bougouni2.png' %}" alt="Hero Car" class="absolute inset-0 w-full h-full object-cover">
        <div class="absolute inset-0 bg-black/40"></div>

        <div class="relative z-10 w-full text-center text-white py-1py fade-in">
            <h1 class="slogan texte-serre px-1px texte-contour">VOTRE MOBILITÉ, NOTRE PRIORITÉ</h1>
            <div id="" class="bg-white p-6 rounded-lg shadow-2xl max-w-5xl mx-auto text-gray-900 mt-12 translate-y-12 " style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                <form id="" class="grid grid-cols-1 md:grid-cols-4 gap-4 items-end">
                    <div class="text-left">
                        <label class="label">Pickup Location</label>
                        <div class="relative">
                            <input type="text" placeholder="Ville ou Aeroport" class="date">
                        </div>
                    </div>
                    <div class="text-left">
                        <label class="label">Pickup Date</label>
                        <input type="date" class="date">
                    </div>
                    <div class="text-left">
                        <label class="label">Return Date</label>
                        <input type="date" class="date">
                    </div>
                    <button type="submit" class="search"> SEARCH FLEET</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Advantages -->
    <div class="avantages">
        <div class="div-content">
            <h3 class="">Tarification transparente</h3>
            <p class="">Aucun frais caché, aucune surprise. Le prix affiché est exactement celui que vous payez pour votre expérience de conduite</p>
        </div>

        <div class="div-content">
            <h3 class="">Flotte moderne</h3>
            <p class="">Nos véhicules sont recent et intègrent les dernières innovations en matière de sécurité et de technologie.</p>
        </div>

        <div class="div-content">
            <h3 class="">Disponible 24/7</h3>
            <p class="">Assistance 24h/24 et 7j/7 pour tout, des demandes de réservation à l'assistance routière.</p>
        </div>
    </div>
</section> 

{% endblock %}