
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Section: Vehicles -->
<section class="page-section bg-gray-50 py-24 hidden fade-in">
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex flex-col md:flex-row justify-between items-end mb-12 py1 gap-6">
            <div>
                <h2 class="text-3xl font-montserrat font-bold mb-2 mt-1">Nos vehicules</h2>
                <p class="text-gray-500">
                    Faites votre choix parmi notre sélection de véhicules d'exception.
                </p>
            </div>    
            <!-- FILTERS -->
            <div class="flex flex-wrap gap-2 py-1py">
                <button class="filter-btn active" data-filter="all">All</button>
                <button class="filter-btn" data-filter="economique">Économique</button>
                <button class="filter-btn" data-filter="suv">SUV et 4x4</button>
                <button class="filter-btn" data-filter="utilitaire">Utilitaires</button>
                <button class="filter-btn" data-filter="luxe">Luxe</button>
            </div>
        </div>            
    </div>

    <!-- CARDS -->
    <div class="vehicles-grid px-6">

        {% for vehicule in vehicules %}

        <!-- Ajout de la catégorie dynamique sur la carte pour le filtrage JS -->
        <div class="card" data-category="{{ vehicule.categorie }}">

            {% if vehicule.image %}
                <img src="{{ vehicule.image.url }}" alt="{{ vehicule.nom }}">
            {% else %}
                <img src="https://via.placeholder.com/400x250" alt="image">
            {% endif %}

            <div class="card-content">

                <h2>{{ vehicule.nom }}</h2>

                <p class="marque">{{ vehicule.marque }}</p>

                <p class="prix">
                    {{ vehicule.prix_par_jour }} FCFA / jour
                </p>

                <p class="description">
                    {{ vehicule.description|truncatewords:20 }}
                </p>

                <a href="{% url 'reservation_vehicule' vehicule.id %}" class="btn">Réserver</a>

            </div>

        </div>

        {% empty %}

        <p class="empty">
            Aucun véhicule disponible.
        </p>

        {% endfor %}

    </div>       

    <div class="">
        <!-- Dynamic Content -->
    </div>
</section>

<!-- Appel de votre script de filtrage depuis les fichiers statiques -->
<script src="{% static 'js/filtre_vehicules.js' %}"></script>

{% endblock %}
